<div class="container" id="navbar">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top default-bg-color">
    <a class="navbar-brand logo" href="/">
      <img src="/assets/image/youme-logo.png" class="img-fluid" alt="" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav ml-auto nav-font">
        <li class="nav-item" id="nav-home">
          <a class="nav-link pl-4" href="/">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown" id="nav-about">
          <a class="nav-link pl-4 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            About Us
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/about">Introduction</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/about/aim">
              Mission, Vision and Philosophy</a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="/about/team"> Our Team</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/about/message">Message from Principal</a>
          </div>
        </li>

        <li class="nav-item" id="nav-academics">
          <a class="nav-link pl-4" href="/academics">
            Academics
          </a>
        </li>
        <li class="nav-item" id="nav-admission">
          <a class="nav-link pl-4" href="/admission">Admissions</a>
        </li>

        <li class="nav-item" id="nav-activities">
          <a class="nav-link pl-4" href="/activities">Activities</a>
        </li>

        <li class="nav-item dropdown" id="nav-news">
          <a class="nav-link pl-4 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            News & Events
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/news">News</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/news/event">Events</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/article">Student Article</a>
          </div>
        </li>

        <li class="nav-item" id="nav-gallery">
          <a class="nav-link pl-4" href="/gallery">Gallery</a>
        </li>
        <li class="nav-item" id="nav-contact">
          <a class="nav-link px-4" href="/contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
</div>