
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"><%= heading %> of <%= data.name %></h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-6 mb-4 ">
            <%- include('../../partials/messages'); %>

            <form method="POST" action="/admin/user/updatepwd">

                <div class="form-group">
                    <label for="password">New Password</label>
                    <input type="password" class="form-control" name="password">
                    <input type="text" class="form-control" name="id" value="<%= data.id %>" hidden/>
                </div>
                <div class="form-group">
                    <label for="password2">Confirm Password</label>
                    <input type="password" class="form-control" name="password2">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
<script>
    $("#nav-user").addClass("active");
  </script>
  