<section class="workhead">
  <div class="container p-0 m-0">
    <div class="row title-head">
      <div class="col-lg-10 align-self-end title-head">
        <h1 class="header-font shadow-lg w-75 p-5">
          About Us
        </h1>
      </div>
    </div>
  </div>
</section>
<!-- class="bg-contact" -->
<section id="contact-form-div bg-contact">
  <div class="container py-5">
    <div class="row">
      <%- include('about/nav'); %>

      <div class="col-lg-9 about-content shadow rounded bg-white p-5">
        <h4 class="font-italic mb-4">Introduction</h4>
        <p class="text-muted my-2">
          <i
            >YouMe School was established in April 2017 and it aims to formulate
            and implement use of ICT as a tool for the improvement of the
            education quality. YouMe School is equipped to meet the educational
            needs of children in today’s technologically driven world. The
            school’s computer laboratories are well connected to high-speed
            internet. Students have unlimited access to the laboratory and are
            encouraged to spend their free time doing coursework and personal
            research. However, we maintain a strict code of conduct related to
            the use of the internet and expect all students and parents to be
            aware of the standards.
            <h5>
              A unique school with a vision for Nepal, where we provide:
            </h5>

            <ul style="list-style: square;">
              <li>
                Dedicated and experienced teachers with linguistic and cultural
                diversity.
              </li>
              <li>
                Armed with knowledge and enthusiasm,we believe in inculcating a
                healthy happy environment and child centric participative
                self-learning.
              </li>
              <li>
                Futuristic computer laboratories with iPads, latest VRs (Virtual
                Reality) and hi-speed internet connectivity.
              </li>
              <li>
                Dynamic teamwork, a growing and learning school atmosphere.
              </li>
              <li>
                Ongoing review of curriculum, introduction of new subjects, the
                breadth of sports and co-curricular activities and regular
                upgrading of facilities and resources.
              </li>
              <li>
                ECA (Extra Curricular Activities), clubs managed by students
                themselves.
              </li>
              <li>
                Sports facilities including international quality football,
                volleyballs, kendama.
              </li>
              <li>
                Dance classes, availability of musical instruments.
              </li>
              <li>
                Scholarships for brilliant and needy students.
              </li>
              <li>
                Regular educational visits from abroad including Japan,
                Australia, Canada and America.
              </li>
              <li>
                Online exchange programs with Japanese students.
              </li>
              <li>
                School’s own transportation services
              </li>
            </ul>

            <h5 class="text-center text-muted">“Education that excites”</h5>
          </i>
        </p>
      </div>
    </div>
  </div>
</section>

<script>
  $("#nav-about").addClass("active");
  $("#introduction-tab").addClass("active");
</script>
