<section class="academics-head">
  <div class="container p-0 m-0">
    <div class="row title-head">
      <div class="col-lg-10 align-self-end title-head">
        <h1 class="header-font shadow-lg w-75 p-5">
          Academics
        </h1>
      </div>
    </div>
  </div>
</section>

<section class="bg-contact">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-3">
        <!-- Tabs nav -->
        <div
          class="nav flex-column nav-pills nav-pills-custom"
          id="v-pills-tab"
          role="tablist"
          aria-orientation="vertical"
        >
          <a
            class="nav-link mb-3 p-3 shadow active"
            id="kindergarden-tab"
            data-toggle="pill"
            href="#kindergarden"
            role="tab"
            aria-controls="kindergarden"
            aria-selected="true"
          >
            
            <span class="font-weight-bold small text-uppercase"
              >Kindergarten</span
            ></a
          ><a
            class="nav-link mb-3 p-3 shadow"
            id="primary-tab"
            data-toggle="pill"
            href="#primary"
            role="tab"
            aria-controls="primary"
            aria-selected="true"
          >
            
            <span class="font-weight-bold small text-uppercase"
              >Primary Level</span
            ></a
          ><a
            class="nav-link mb-3 p-3 shadow"
            id="secondary-tab"
            data-toggle="pill"
            href="#secondary"
            role="tab"
            aria-controls="secondary"
            aria-selected="true"
          >
            
            <span class="font-weight-bold small text-uppercase"></span>
              Secondary Level</span
            ></a
          ><a
            class="nav-link mb-3 p-3 shadow"
            id="higher-tab"
            data-toggle="pill"
            href="#higher"
            role="tab"
            aria-controls="higher"
            aria-selected="true"
          >
            
            <span class="font-weight-bold small text-uppercase"
              >Higher Secondary</span
            ></a
          >
        </div>
      </div>

      <div class="col-md-9">
        <!-- Tabs content -->
        <div class="tab-content" id="v-pills-tabContent">
          <div
            class="tab-pane fade shadow rounded bg-white show active p-5"
            id="kindergarden"
            role="tabpanel"
            aria-labelledby="kindergarden-tab"
          >
            
            <h4 class=" mb-4">Nursery, JKG, SKG</h4>
            <p class="text-muted my-2 text-justify">
              The YouMe elementary program, which includes Early Childhood Education, is a rich, multi-sensory, activity-based experience that nurtures the whole child. It provides students with a supportive learning community that operates according to agreements reached by students and teachers as they work together.
            </p>
          </div>

          
          <div
          class="tab-pane fade shadow rounded bg-white  p-5"
          id="primary"
          role="tabpanel"
          aria-labelledby="primary-tab"
        >
          
          <h4 class=" mb-4">Class I to IV</h4>
          <p class="text-muted my-2">
            YouMe's primary school curriculum honors inquiry, experimentation, and learning, all in the spirit of discovery. Our interactive, project-oriented classroom environments foster student creativity and academic excellence, while our standards-based assessment model encourages effective problem-solving and skill-building.
          </p>
        </div>


        <div
        class="tab-pane fade shadow rounded bg-white  p-5"
        id="secondary"
        role="tabpanel"
        aria-labelledby="secondary-tab"
      >
        
        <h4 class=" mb-4">Class V to VII</h4>
        <p class="text-muted my-2">
          The secondary school programme in YouMe School builds upon the Primary School programme and ensures a smooth transition for the students through adolescence. Specific programs are strategically planned to assist young adult’s developmental phase where they develop their ability to think abstractly and make plans and set long term goals. </p>
      </div>


      <div
      class="tab-pane fade shadow rounded bg-white  p-5"
      id="higher"
      role="tabpanel"
      aria-labelledby="higher-tab">

      <h4 class=" mb-4">Class VIII to IX</h4>
      <p class="text-muted my-2">
        High school is about the collation of academic and life skills, and at YouMe, we aim to give students those skill in a constructive, engaging environment. Our small class sizes allow teachers and students to know each other well so that learning takes place in an atmosphere of shared endeavor, mutual respect, and trust. Our high school curriculum is founded in a commitment to critical thinking and inquiry, empowering students to build intellectual independence and effective collaborative skills.
      </p>
    </div>

        </div>
      </div>
    </div>
  </div>
</section>
<script>
  
  $("#nav-academics").addClass("active");
</script>
