<section class="workhead">
  <div class="container p-0 m-0">
    <div class="row title-head">
      <div class="col-lg-10 align-self-end title-head">
        <h1 class="header-font shadow-lg w-75 p-5">
          Mission, Vision and Philosophy
        </h1>
      </div>
    </div>
  </div>
</section>
<!-- class="bg-contact" -->
<section>
  <div class="container py-5">
    <div class="row">
      <%- include('nav'); %>
      <div class="col-lg-9 about-content shadow rounded bg-white p-5">
        <h4 class="font-italic mb-4">Mission, Vision and Philosophy</h4>
        <p class="text-muted my-2 text-justify">
          <i>
            Our school’s mission is to provide a learning environment that
            encourages every kid to bring out the best in him/herself and enable
            their all-round development through the joy of learning, enduring
            values and the celebration of diversity. In our school, we have a
            culture where every kid feels equally important. We support our
            students to find what they want to do in their life and show them a
            path to achieve their cherished dreams. <br />
            The atmosphere at YouMe School helps students learn self-respect and
            respect for others. Self-discipline grows as students come to
            believe, ‘I am capable’, ‘I am needed’, and ‘I can influence what
            happens to me’. In fostering self-discovery, we seek to develop a
            child’s intellectual and social skills equally. Our aim is to
            empower children to become responsible and capable adults. We
            believe in creating thoughtful leaders and problem solvers of
            tomorrow.
          </i>
        </p>
      </div>
    </div>
  </div>
</section>

<script>
  $("#nav-about").addClass("active");
  $("#aim-tab").addClass("active");
</script>
