<section class="workhead">
  <div class="container p-0 m-0">
    <div class="row title-head">
      <div class="col-lg-10 align-self-end title-head">
        <h1 class="header-font shadow-lg w-75 p-5">
          Message from Principal
        </h1>
      </div>
    </div>
  </div>
</section>
<!-- class="bg-contact" -->
<section id="contact-form-div bg-contact">
  <div class="container py-5">
    <div class="row">
      <%- include('nav'); %>
      <div class="col-lg-9 shadow rounded bg-white about-content p-5">
        <p class="my-2">
          <i class="text-muted text-justify">
            <p class="text-dark">Welcome to YouMe School</p>

            <img
              src="/assets/image/principle.jpg"
              alt=""
              width="300px"
              class="float-right"
            />

            Our school has always opened up opportunities for the learners
            despite race, class, and colors. Our greatest motivation is to
            uplift today's kids beyond this school’s classroom and let their
            wings fly all around the globe by providing both theoretical and
            practical knowledge that contains: sports, techno-based seminars,
            cultural events, art exhibitions, and so on. <br />
            Besides, I would like to thank the parents for trusting our school's
            education and values. We strive to cater to our children’s holistic
            development and well-being by giving them opportunities to explore
            the advanced technology and different choices to ignite their
            passions and imaginations to constantly learn. <br />
            Our teachers are our pride and pillar of strength. They are
            intelligent, encouraging, and highly motivated and have great
            compliance towards building and stimulating schools' educational
            strategies up to a higher level. They inspire our children to become
            their best self and always believe in themselves. <br />
            We invite you to explore and learn more about YouMe School that
            offers a wide array of opportunities for every child and plays a
            great guardian role to reach out to their dreams. We are here to
            provide parents, students, and our school community with easy access
            to a wealth of information regarding our School's regular programs,
            policies, and other extracurricular activities.

            <p class="text-dark">
              Nisha Rai <br />
              Principal
            </p>
          </i>
        </p>
      </div>
    </div>
  </div>
</section>

<script>
  $("#nav-about").addClass("active");
  $("#message-tab").addClass("active");
</script>
