<div class="col-md-3">
  <!-- Tabs nav -->
  <div
    class="nav flex-column nav-pills nav-pills-custom"
    id="v-pills-tab"
    aria-orientation="vertical"
  >
    <a class="nav-link mb-3 p-3 shadow" id="introduction-tab" href="/about">
      <span class="font-weight-bold small text-uppercase">Introduction</span></a
    >
    <a class="nav-link mb-3 p-3 shadow" id="aim-tab" href="/about/aim">
      <span class="font-weight-bold small text-uppercase">
        Mission, Vision and Philosophy</span
      ></a
    >
    <a class="nav-link mb-3 p-3 shadow" id="team-tab" href="/about/team">
      <span class="font-weight-bold small text-uppercase"> Our Team</span></a
    >

    <a class="nav-link mb-3 p-3 shadow" id="message-tab" href="/about/message">
      <span class="font-weight-bold small text-uppercase"
        >Message from Principal</span
      ></a
    >
  </div>
</div>
