<section class="workhead">
  <div class="container p-0 m-0">
    <div class="row title-head">
      <div class="col-lg-10 align-self-end title-head">
        <h1 class="header-font shadow-lg w-75 p-5">
          Message from Principal
        </h1>
      </div>
    </div>
  </div>
</section>
<!-- class="bg-contact" -->
<section id="contact-form-div bg-contact">
  <div class="container py-5">
    <div class="row">
      <%- include('nav'); %>
      <div class="col-lg-9 shadow rounded bg-white about-content p-5">
        <img src="/assets/image/team.jpg" width="100%" alt="" />
      </div>
    </div>
  </div>
</section>

<script>
  $("#nav-about").addClass("active");
  $("#team-tab").addClass("active");
</script>
