<section class="workhead">
  <div class="container p-0 m-0">
    <div class="row title-head">
      <div class="col-lg-10 align-self-end title-head">
        <h1 class="header-font shadow-lg w-75 p-5">
          Vision
        </h1>
      </div>
    </div>
  </div>
</section>
<!-- class="bg-contact" -->
<section id="contact-form-div bg-contact">
  <div class="container py-5">
    <div class="row">
      <%- include('nav'); %>
      <div class="col-lg-9 shadow rounded bg-white about-content p-5">
        <h4 class="font-italic mb-4">Vision</h4>
        <p class="text-muted my-2 text-justify">
          <i>
            Our school’s mission is to provide a learning environment that
            encourages every kid to bring out the best in him/herself and enable
            their all-round development through the joy of learning, enduring
            values and the celebration of diversity. In our school, we have a
            culture where every kid feels equally important. We support our
            students to find what they want to do in their life and show them a
            path to achieve their cherished dreams.
          </i>
        </p>
      </div>
    </div>
  </div>
</section>

<script>
  $("#nav-about").addClass("active");
  $("#vision-tab").addClass("active");
</script>
